Flask==1.1.4
werkzeug==1.0.1
Flask-Script
Flask-Sqlalchemy==2.4.4
Flask-Restful
pymysql
Flask-inputs
flask-redis
flask_cors
openpyxl
python-dateutil
Flask-Mail
requests==2.19.1
requests_oauthlib
jsonschema
wkhtmltopdf
pdfkit
jinja2
PyJWT==1.4.0
SQLAlchemy<1.4
flask-sqlacodegen
markupsafe==2.0.1
flask_sqlalchemy